<!DOCTYPE html>
<html>
	<head>
		<title>Etsy</title>
		<link rel="stylesheets" href="main.css">
	</head>
		<body>
			<form action="/search" "method=get">
				<input type="text" value="" name="query">
				<input type="submit" value="Search"
			</form>
			<ul>
				<% items.each do |pic| %>
				<li> 
					<img src="<%= pic %>"> 
				</li>
				<% end %>
			</ul>

		</body>
</html>
