<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="main.css">
		<title>Etsy</title>
	
	</head>
		<body>
			<div class="main_box">
			<div class="header">
				<h1> Etsy </h1>
				<div class="category_list">
					<li> Clothing & Accessories   Jewelry  Craft Supplies & Tools  Weddings  Entertainment  Home & Living  Kids & Baby  Vintage   </li>
					
				</div>
			</div>
		

			<div class="side_bar">
				<ul>
					<li> this is the nav bar</li>

				</ul>
			</div>

			<div class="listings">	
				<% listings.each do |listing| %>
					<div class="item">
						<div class="pic">
							<img class="pic_img" src="<%= listing["Images"][0]["url_170x135"]%>">
					    </div>
					    <div class="item_footer">
					    	<div class="price">
					    		<%= listing["price"] %>
					    	</div>
					    </div>
					</div>	
				<% end %>
			</div>
		</div>
		</body>
</html>
