<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="main.css">
		<title>Etsy</title>
	
	</head>
		<body>
			<div class="main_box">
			<div class="header">
				<h1> Etsy </h1>

				<div class="category_list">
					<li> Clothing & Accessories     Jewelry    Craft Supplies & Tools    Weddings  Entertainment    Home & Living    Kids & Baby    Vintage   </li>
					
				</div>
			</div>
		

			<div class="side_bar">
				<ul>
					<h3>All Categories</h3>
						<li class="list_links"><a href="https://www.etsy.com/search/home-and-living?q=whiskey">Home & Living</a></li>
						<li class="list_links"><a href="https://www.etsy.com/search/art-and-collectibles?q=whiskey">Art & Collectibles</a></li>
						<li class="list_links"><a href="https://www.etsy.com/search/weddings?q=whiskey">Weddings</a></li>
						<li class="list_links"><a href="https://www.etsy.com/search/clothing?q=whiskey">Clothing</a></li>
						<li class="list_links"><a href="https://www.etsy.com/search/paper-and-party-supplies?q=whiskey">Paper & Party Supplies<a/></li>
						<li class="list_links"><a href="https://www.etsy.com/search/jewelry?q=whiskey">Jewelry</a></li>
						<li class="list_links"><a href="https://www.etsy.com/search/accessories?q=whiskey">Accessories</a></li>
						<li class="list_links"><a href="Craft Supplies & Tools">Craft Supplies & Tools</a></li>
						<li class="list_links"><a href="https://www.etsy.com/search/bags-and-purses?q=whiskey">Bags & Purses</a></li>
						<li class="list_links"><a href"https://www.etsy.com/search/bath-and-beauty?q=whiskey">Bath & Beauty</a></li>
						<li class="list_links"><a href="https://www.etsy.com/search/shoes?q=whiskey">Shoes</a></li>
						<li class="list_links"><a href="https://www.etsy.com/search/books-movies-and-music?q=whiskey">Books, Movies & Music</a></li>
						<li class="list_links"><a href="https://www.etsy.com/search/electronics-and-accessories?q=whiskey">Electronics & Accessories</a></li>
						<li class="list_links"><a href="https://www.etsy.com/search/toys-and-games?q=whiskey">Toys & Games</a></li>
						<li class="list_links"><a href="https://www.etsy.com/search/pet-supplies?q=whiskey">Pet Supplies</a></li>
					
				</ul>
			</div>

			<div class="listings">	
				<% listings.each do |listing| %>
					<div class="item">
						<div class="pic">
							<img class="pic_img" src="<%= listing["Images"][0]["url_170x135"]%>">
					    </div>
					    <div class="item_footer">
					    	<div class="item_desc">
					    		<%= listing["title"] %>
					    	</div>
					    	<div class="price">
					    		<%= listing["price"] %>
					    	</div>
					    	<div class="shops">
					    		<%= listing["Shop"]["shop_name"] %>
					    	</div>
					    </div>
					</div>	
				<% end %>
			</div>
		</div>
		</body>
</html>
